*.lay
*.lpk
*.plt
*.dat
*.png
*.avi
*.mov
*.log
*.pdf
*.eps
*.pyc

__pycache__
.idea
.ipynb_checkpoints
.DS_Store
swmf/temp
tests/artifacts
tests/.cache
tests/.pytest_cache/
tests/stellarwinds_test_log.txt
tests/report.html

.pytest_cache/
Stellarwinds.egg-info/

untitled.*
tecplot_log.txt
.coverage
stellarwinds_test_log.txt
myresults.xml
