*.dat
*.png
*.avi
*.mov
*.log
*.pdf
*.eps
*.pickle
untitled.*
Out.txt
myresults.xml
pytest-cobertura.xml
__pycache__/
*.pyc
.pytest_cache/
tests/.pytest_cache/
tests/.cache/
.idea/
.DS_Store
.ipynb_checkpoints/
tests/artifacts/
artifacts/
tests/report.html
build/
dist/
*.egg-info/
swmf/temp/
starwinds_magnetogram/_version.py
