*.dat
*.png
*.avi
*.mov
*.log
*.pdf
*.eps
*.pyc

__pycache__
.idea
.ipynb_checkpoints
.DS_Store
swmf/temp
tests/artifacts
tests/.cache
tests/.pytest_cache/
tests/report.html
tests/pytest-cobertura.xml

.pytest_cache/
*.egg-info/

untitled.*
.coverage
myresults.xml
Out.txt
artifacts
*.pickle
pytest-cobertura.xml

artifacts
build